/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.flagent.client.apis

import kotlinx.serialization.json.JsonObject

import com.flagent.client.models.Error

import com.flagent.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ExportApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Export eval cache as JSON
     * Export JSON format of the eval cache dump. This endpoint exports the current state of the evaluation cache in JSON format.
     * @return kotlinx.serialization.json.JsonObject
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getExportEvalCacheJSON(): HttpResponse<kotlinx.serialization.json.JsonObject> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/export/eval_cache/json",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetExportEvalCacheJSONResponse>().map { value }
    }

    @Serializable(GetExportEvalCacheJSONResponse.Companion::class)
    private class GetExportEvalCacheJSONResponse(val value: kotlinx.serialization.json.JsonObject) {
        companion object : KSerializer<GetExportEvalCacheJSONResponse> {
            private val serializer: KSerializer<kotlinx.serialization.json.JsonObject> = kotlinx.serialization.json.JsonObject.serializer()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetExportEvalCacheJSONResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetExportEvalCacheJSONResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Export database as SQLite
     * Export sqlite3 format of the db dump, which is converted from the main database. Returns a SQLite database file that can be used for backup or migration purposes.
     * @param excludeSnapshots Export without snapshots data - useful for smaller db without snapshots (optional, default to false)
     * @return com.flagent.client.infrastructure.OctetByteArray
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getExportSQLite(excludeSnapshots: kotlin.Boolean? = false): HttpResponse<com.flagent.client.infrastructure.OctetByteArray> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        excludeSnapshots?.apply { localVariableQuery["exclude_snapshots"] = listOf("$excludeSnapshots") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/export/sqlite",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
