/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.flagent.client.apis

import com.flagent.client.models.CreateFlagRequest
import com.flagent.client.models.Error
import com.flagent.client.models.Flag
import com.flagent.client.models.FlagSnapshot
import com.flagent.client.models.PutFlagRequest
import com.flagent.client.models.SetFlagEnabledRequest

import com.flagent.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class FlagApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Create a new flag
     * 
     * @param createFlagRequest 
     * @return Flag
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createFlag(createFlagRequest: CreateFlagRequest): HttpResponse<Flag> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = createFlagRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/flags",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete flag
     * 
     * @param flagId Numeric ID of the flag
     * @return void
     */
    open suspend fun deleteFlag(flagId: kotlin.Long): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/flags/{flagId}".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get all flags
     * 
     * @param limit The numbers of flags to return (optional)
     * @param offset Return flags given the offset, it should usually set together with limit (optional, default to 0L)
     * @param enabled Return flags having given enabled status (optional)
     * @param description Filter flags by exact description match (optional)
     * @param key Filter flags by exact key match (optional)
     * @param descriptionLike Filter flags by partial description match (optional)
     * @param preload Preload segments, variants, and tags (optional, default to false)
     * @param deleted Include deleted flags in results (optional, default to false)
     * @param tags Filter flags by tags (comma-separated) (optional)
     * @return kotlin.collections.List<Flag>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun findFlags(limit: kotlin.Long? = null, offset: kotlin.Long? = 0L, enabled: kotlin.Boolean? = null, description: kotlin.String? = null, key: kotlin.String? = null, descriptionLike: kotlin.String? = null, preload: kotlin.Boolean? = false, deleted: kotlin.Boolean? = false, tags: kotlin.String? = null): HttpResponse<kotlin.collections.List<Flag>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        enabled?.apply { localVariableQuery["enabled"] = listOf("$enabled") }
        description?.apply { localVariableQuery["description"] = listOf("$description") }
        key?.apply { localVariableQuery["key"] = listOf("$key") }
        descriptionLike?.apply { localVariableQuery["descriptionLike"] = listOf("$descriptionLike") }
        preload?.apply { localVariableQuery["preload"] = listOf("$preload") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        tags?.apply { localVariableQuery["tags"] = listOf("$tags") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/flags",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<FindFlagsResponse>().map { value }
    }

    @Serializable(FindFlagsResponse.Companion::class)
    private class FindFlagsResponse(val value: List<Flag>) {
        companion object : KSerializer<FindFlagsResponse> {
            private val serializer: KSerializer<List<Flag>> = serializer<List<Flag>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: FindFlagsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = FindFlagsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get flag by ID
     * 
     * @param flagId Numeric ID of the flag
     * @return Flag
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getFlag(flagId: kotlin.Long): HttpResponse<Flag> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/flags/{flagId}".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get all entity types
     * 
     * @return kotlin.collections.List<kotlin.String>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getFlagEntityTypes(): HttpResponse<kotlin.collections.List<kotlin.String>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/flags/entity_types",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetFlagEntityTypesResponse>().map { value }
    }

    @Serializable(GetFlagEntityTypesResponse.Companion::class)
    private class GetFlagEntityTypesResponse(val value: List<kotlin.String>) {
        companion object : KSerializer<GetFlagEntityTypesResponse> {
            private val serializer: KSerializer<List<kotlin.String>> = serializer<List<kotlin.String>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetFlagEntityTypesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetFlagEntityTypesResponse(serializer.deserialize(decoder))
        }
    }


    /**
     * enum for parameter sort
     */
    @Serializable
    enum class SortGetFlagSnapshots(val value: kotlin.String) {
        
        @SerialName(value = "ASC")
        ASC("ASC"),
        
        @SerialName(value = "DESC")
        DESC("DESC")
        
    }

    /**
     * Get flag snapshots
     * 
     * @param flagId Numeric ID of the flag
     * @param limit The number of snapshots to return (optional)
     * @param offset Return snapshots given the offset (optional, default to 0L)
     * @param sort Sort order (optional)
     * @return kotlin.collections.List<FlagSnapshot>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getFlagSnapshots(flagId: kotlin.Long, limit: kotlin.Long? = null, offset: kotlin.Long? = 0L, sort: SortGetFlagSnapshots? = null): HttpResponse<kotlin.collections.List<FlagSnapshot>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        sort?.apply { localVariableQuery["sort"] = listOf("${ sort.value }") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/flags/{flagId}/snapshots".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetFlagSnapshotsResponse>().map { value }
    }

    @Serializable(GetFlagSnapshotsResponse.Companion::class)
    private class GetFlagSnapshotsResponse(val value: List<FlagSnapshot>) {
        companion object : KSerializer<GetFlagSnapshotsResponse> {
            private val serializer: KSerializer<List<FlagSnapshot>> = serializer<List<FlagSnapshot>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetFlagSnapshotsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetFlagSnapshotsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Update flag
     * 
     * @param flagId Numeric ID of the flag
     * @param putFlagRequest 
     * @return Flag
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun putFlag(flagId: kotlin.Long, putFlagRequest: PutFlagRequest): HttpResponse<Flag> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = putFlagRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/flags/{flagId}".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Restore deleted flag
     * 
     * @param flagId Numeric ID of the flag
     * @return Flag
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restoreFlag(flagId: kotlin.Long): HttpResponse<Flag> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/flags/{flagId}/restore".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Set flag enabled status
     * 
     * @param flagId Numeric ID of the flag
     * @param setFlagEnabledRequest 
     * @return Flag
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun setFlagEnabled(flagId: kotlin.Long, setFlagEnabledRequest: SetFlagEnabledRequest): HttpResponse<Flag> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = setFlagEnabledRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/flags/{flagId}/enabled".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
