/*
 * Flagent API
 * Flagent is a feature flagging, A/B testing and dynamic configuration microservice. The base path for all the APIs is \"/api/v1\". ## Authentication Flagent supports multiple authentication methods (configured via environment variables): - **JWT Authentication**: Bearer token authentication - **Basic Authentication**: Username/password authentication - **Header Authentication**: Custom header-based authentication - **Cookie Authentication**: Cookie-based authentication Some endpoints (like `/health`, `/evaluation`) may be whitelisted and don't require authentication. ## Error Responses All error responses follow the same format: ```json {   \"message\": \"Error description\" } ``` Common HTTP status codes: - `200`: Success - `400`: Bad Request - invalid input parameters - `404`: Not Found - resource doesn't exist - `429`: Too Many Requests - rate limit exceeded - `500`: Internal Server Error - server error ## Rate Limiting Rate limiting is configured via environment variables: - `FLAGENT_RATELIMITER_PERFLAG_PERSECOND_CONSOLE_LOGGING`: Maximum evaluations per flag per second (default: 100) When rate limit is exceeded, the API returns `429 Too Many Requests` status code. ## Best Practices - Use batch evaluation (`/evaluation/batch`) when evaluating multiple flags for multiple entities - Use `enableDebug: true` only in development environments - Preload flags with `preload=true` parameter when fetching flags to reduce subsequent API calls - Use tags to organize and filter flags efficiently 
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.flagent.client.api;

import com.flagent.client.ApiClient;
import com.flagent.client.ApiException;
import com.flagent.client.ApiResponse;
import com.flagent.client.Configuration;
import com.flagent.client.Pair;

import com.flagent.client.model.CreateFlagRequest;
import com.flagent.client.model.Error;
import com.flagent.client.model.Flag;
import com.flagent.client.model.FlagSnapshot;
import com.flagent.client.model.PutFlagRequest;
import com.flagent.client.model.SetFlagEnabledRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.18.0")
public class FlagApi {
  /**
   * Utility class for extending HttpRequest.Builder functionality.
   */
  private static class HttpRequestBuilderExtensions {
    /**
     * Adds additional headers to the provided HttpRequest.Builder. Useful for adding method/endpoint specific headers.
     *
     * @param builder the HttpRequest.Builder to which headers will be added
     * @param headers a map of header names and values to add; may be null
     * @return the same HttpRequest.Builder instance with the additional headers set
     */
    static HttpRequest.Builder withAdditionalHeaders(HttpRequest.Builder builder, Map<String, String> headers) {
        if (headers != null) {
            for (Map.Entry<String, String> entry : headers.entrySet()) {
                builder.header(entry.getKey(), entry.getValue());
            }
        }
        return builder;
    }
  }
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<InputStream>> memberVarAsyncResponseInterceptor;

  public FlagApi() {
    this(Configuration.getDefaultApiClient());
  }

  public FlagApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }


  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    InputStream responseBody = ApiClient.getResponseBody(response);
    String body = null;
    try {
      body = responseBody == null ? null : new String(responseBody.readAllBytes());
    } finally {
      if (responseBody != null) {
        responseBody.close();
      }
    }
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download file from the given response.
   *
   * @param response Response
   * @return File
   * @throws ApiException If fail to read file content from response and write to disk
   */
  public File downloadFileFromResponse(HttpResponse<InputStream> response, InputStream responseBody) throws ApiException {
    if (responseBody == null) {
      throw new ApiException(new IOException("Response body is empty"));
    }
    try {
      File file = prepareDownloadFile(response);
      java.nio.file.Files.copy(responseBody, file.toPath(), java.nio.file.StandardCopyOption.REPLACE_EXISTING);
      return file;
    } catch (IOException e) {
      throw new ApiException(e);
    }
  }

  /**
   * <p>Prepare the file for download from the response.</p>
   *
   * @param response a {@link java.net.http.HttpResponse} object.
   * @return a {@link java.io.File} object.
   * @throws java.io.IOException if any.
   */
  private File prepareDownloadFile(HttpResponse<InputStream> response) throws IOException {
    String filename = null;
    java.util.Optional<String> contentDisposition = response.headers().firstValue("Content-Disposition");
    if (contentDisposition.isPresent() && !"".equals(contentDisposition.get())) {
      // Get filename from the Content-Disposition header.
      java.util.regex.Pattern pattern = java.util.regex.Pattern.compile("filename=['\"]?([^'\"\\s]+)['\"]?");
      java.util.regex.Matcher matcher = pattern.matcher(contentDisposition.get());
      if (matcher.find())
        filename = matcher.group(1);
    }
    File file = null;
    if (filename != null) {
      java.nio.file.Path tempDir = java.nio.file.Files.createTempDirectory("swagger-gen-native");
      java.nio.file.Path filePath = java.nio.file.Files.createFile(tempDir.resolve(filename));
      file = filePath.toFile();
      tempDir.toFile().deleteOnExit();   // best effort cleanup
      file.deleteOnExit(); // best effort cleanup
    } else {
      file = java.nio.file.Files.createTempFile("download-", "").toFile();
      file.deleteOnExit(); // best effort cleanup
    }
    return file;
  }

  /**
   * Create a new flag
   * 
   * @param createFlagRequest  (required)
   * @return Flag
   * @throws ApiException if fails to make API call
   */
  public Flag createFlag(@jakarta.annotation.Nonnull CreateFlagRequest createFlagRequest) throws ApiException {
    return createFlag(createFlagRequest, null);
  }

  /**
   * Create a new flag
   * 
   * @param createFlagRequest  (required)
   * @param headers Optional headers to include in the request
   * @return Flag
   * @throws ApiException if fails to make API call
   */
  public Flag createFlag(@jakarta.annotation.Nonnull CreateFlagRequest createFlagRequest, Map<String, String> headers) throws ApiException {
    ApiResponse<Flag> localVarResponse = createFlagWithHttpInfo(createFlagRequest, headers);
    return localVarResponse.getData();
  }

  /**
   * Create a new flag
   * 
   * @param createFlagRequest  (required)
   * @return ApiResponse&lt;Flag&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Flag> createFlagWithHttpInfo(@jakarta.annotation.Nonnull CreateFlagRequest createFlagRequest) throws ApiException {
    return createFlagWithHttpInfo(createFlagRequest, null);
  }

  /**
   * Create a new flag
   * 
   * @param createFlagRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Flag&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Flag> createFlagWithHttpInfo(@jakarta.annotation.Nonnull CreateFlagRequest createFlagRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createFlagRequestBuilder(createFlagRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createFlag", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<Flag>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        Flag responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Flag>() {});
        

        return new ApiResponse<Flag>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createFlagRequestBuilder(@jakarta.annotation.Nonnull CreateFlagRequest createFlagRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'createFlagRequest' is set
    if (createFlagRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createFlagRequest' when calling createFlag");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createFlagRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteFlag(@jakarta.annotation.Nonnull Long flagId) throws ApiException {
    deleteFlag(flagId, null);
  }

  /**
   * Delete flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void deleteFlag(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    deleteFlagWithHttpInfo(flagId, headers);
  }

  /**
   * Delete flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteFlagWithHttpInfo(@jakarta.annotation.Nonnull Long flagId) throws ApiException {
    return deleteFlagWithHttpInfo(flagId, null);
  }

  /**
   * Delete flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteFlagWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteFlagRequestBuilder(flagId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteFlag", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteFlagRequestBuilder(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling deleteFlag");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get all flags
   * 
   * @param limit The numbers of flags to return (optional)
   * @param offset Return flags given the offset, it should usually set together with limit (optional, default to 0)
   * @param enabled Return flags having given enabled status (optional)
   * @param description Filter flags by exact description match (optional)
   * @param key Filter flags by exact key match (optional)
   * @param descriptionLike Filter flags by partial description match (optional)
   * @param preload Preload segments, variants, and tags (optional, default to false)
   * @param deleted Include deleted flags in results (optional, default to false)
   * @param tags Filter flags by tags (comma-separated) (optional)
   * @return List&lt;Flag&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Flag> findFlags(@jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable Boolean enabled, @jakarta.annotation.Nullable String description, @jakarta.annotation.Nullable String key, @jakarta.annotation.Nullable String descriptionLike, @jakarta.annotation.Nullable Boolean preload, @jakarta.annotation.Nullable Boolean deleted, @jakarta.annotation.Nullable String tags) throws ApiException {
    return findFlags(limit, offset, enabled, description, key, descriptionLike, preload, deleted, tags, null);
  }

  /**
   * Get all flags
   * 
   * @param limit The numbers of flags to return (optional)
   * @param offset Return flags given the offset, it should usually set together with limit (optional, default to 0)
   * @param enabled Return flags having given enabled status (optional)
   * @param description Filter flags by exact description match (optional)
   * @param key Filter flags by exact key match (optional)
   * @param descriptionLike Filter flags by partial description match (optional)
   * @param preload Preload segments, variants, and tags (optional, default to false)
   * @param deleted Include deleted flags in results (optional, default to false)
   * @param tags Filter flags by tags (comma-separated) (optional)
   * @param headers Optional headers to include in the request
   * @return List&lt;Flag&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Flag> findFlags(@jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable Boolean enabled, @jakarta.annotation.Nullable String description, @jakarta.annotation.Nullable String key, @jakarta.annotation.Nullable String descriptionLike, @jakarta.annotation.Nullable Boolean preload, @jakarta.annotation.Nullable Boolean deleted, @jakarta.annotation.Nullable String tags, Map<String, String> headers) throws ApiException {
    ApiResponse<List<Flag>> localVarResponse = findFlagsWithHttpInfo(limit, offset, enabled, description, key, descriptionLike, preload, deleted, tags, headers);
    return localVarResponse.getData();
  }

  /**
   * Get all flags
   * 
   * @param limit The numbers of flags to return (optional)
   * @param offset Return flags given the offset, it should usually set together with limit (optional, default to 0)
   * @param enabled Return flags having given enabled status (optional)
   * @param description Filter flags by exact description match (optional)
   * @param key Filter flags by exact key match (optional)
   * @param descriptionLike Filter flags by partial description match (optional)
   * @param preload Preload segments, variants, and tags (optional, default to false)
   * @param deleted Include deleted flags in results (optional, default to false)
   * @param tags Filter flags by tags (comma-separated) (optional)
   * @return ApiResponse&lt;List&lt;Flag&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Flag>> findFlagsWithHttpInfo(@jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable Boolean enabled, @jakarta.annotation.Nullable String description, @jakarta.annotation.Nullable String key, @jakarta.annotation.Nullable String descriptionLike, @jakarta.annotation.Nullable Boolean preload, @jakarta.annotation.Nullable Boolean deleted, @jakarta.annotation.Nullable String tags) throws ApiException {
    return findFlagsWithHttpInfo(limit, offset, enabled, description, key, descriptionLike, preload, deleted, tags, null);
  }

  /**
   * Get all flags
   * 
   * @param limit The numbers of flags to return (optional)
   * @param offset Return flags given the offset, it should usually set together with limit (optional, default to 0)
   * @param enabled Return flags having given enabled status (optional)
   * @param description Filter flags by exact description match (optional)
   * @param key Filter flags by exact key match (optional)
   * @param descriptionLike Filter flags by partial description match (optional)
   * @param preload Preload segments, variants, and tags (optional, default to false)
   * @param deleted Include deleted flags in results (optional, default to false)
   * @param tags Filter flags by tags (comma-separated) (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;List&lt;Flag&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Flag>> findFlagsWithHttpInfo(@jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable Boolean enabled, @jakarta.annotation.Nullable String description, @jakarta.annotation.Nullable String key, @jakarta.annotation.Nullable String descriptionLike, @jakarta.annotation.Nullable Boolean preload, @jakarta.annotation.Nullable Boolean deleted, @jakarta.annotation.Nullable String tags, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = findFlagsRequestBuilder(limit, offset, enabled, description, key, descriptionLike, preload, deleted, tags, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("findFlags", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<List<Flag>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        List<Flag> responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<Flag>>() {});
        

        return new ApiResponse<List<Flag>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder findFlagsRequestBuilder(@jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable Boolean enabled, @jakarta.annotation.Nullable String description, @jakarta.annotation.Nullable String key, @jakarta.annotation.Nullable String descriptionLike, @jakarta.annotation.Nullable Boolean preload, @jakarta.annotation.Nullable Boolean deleted, @jakarta.annotation.Nullable String tags, Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "enabled";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("enabled", enabled));
    localVarQueryParameterBaseName = "description";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParameterBaseName = "key";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("key", key));
    localVarQueryParameterBaseName = "descriptionLike";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("descriptionLike", descriptionLike));
    localVarQueryParameterBaseName = "preload";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("preload", preload));
    localVarQueryParameterBaseName = "deleted";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("deleted", deleted));
    localVarQueryParameterBaseName = "tags";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tags", tags));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get flag by ID
   * 
   * @param flagId Numeric ID of the flag (required)
   * @return Flag
   * @throws ApiException if fails to make API call
   */
  public Flag getFlag(@jakarta.annotation.Nonnull Long flagId) throws ApiException {
    return getFlag(flagId, null);
  }

  /**
   * Get flag by ID
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param headers Optional headers to include in the request
   * @return Flag
   * @throws ApiException if fails to make API call
   */
  public Flag getFlag(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    ApiResponse<Flag> localVarResponse = getFlagWithHttpInfo(flagId, headers);
    return localVarResponse.getData();
  }

  /**
   * Get flag by ID
   * 
   * @param flagId Numeric ID of the flag (required)
   * @return ApiResponse&lt;Flag&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Flag> getFlagWithHttpInfo(@jakarta.annotation.Nonnull Long flagId) throws ApiException {
    return getFlagWithHttpInfo(flagId, null);
  }

  /**
   * Get flag by ID
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Flag&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Flag> getFlagWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getFlagRequestBuilder(flagId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getFlag", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<Flag>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        Flag responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Flag>() {});
        

        return new ApiResponse<Flag>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getFlagRequestBuilder(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling getFlag");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get all entity types
   * 
   * @return List&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public List<String> getFlagEntityTypes() throws ApiException {
    return getFlagEntityTypes(null);
  }

  /**
   * Get all entity types
   * 
   * @param headers Optional headers to include in the request
   * @return List&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public List<String> getFlagEntityTypes(Map<String, String> headers) throws ApiException {
    ApiResponse<List<String>> localVarResponse = getFlagEntityTypesWithHttpInfo(headers);
    return localVarResponse.getData();
  }

  /**
   * Get all entity types
   * 
   * @return ApiResponse&lt;List&lt;String&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<String>> getFlagEntityTypesWithHttpInfo() throws ApiException {
    return getFlagEntityTypesWithHttpInfo(null);
  }

  /**
   * Get all entity types
   * 
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;List&lt;String&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<String>> getFlagEntityTypesWithHttpInfo(Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getFlagEntityTypesRequestBuilder(headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getFlagEntityTypes", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<List<String>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        List<String> responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<String>>() {});
        

        return new ApiResponse<List<String>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getFlagEntityTypesRequestBuilder(Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/entity_types";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get flag snapshots
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param limit The number of snapshots to return (optional)
   * @param offset Return snapshots given the offset (optional, default to 0)
   * @param sort Sort order (optional)
   * @return List&lt;FlagSnapshot&gt;
   * @throws ApiException if fails to make API call
   */
  public List<FlagSnapshot> getFlagSnapshots(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable String sort) throws ApiException {
    return getFlagSnapshots(flagId, limit, offset, sort, null);
  }

  /**
   * Get flag snapshots
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param limit The number of snapshots to return (optional)
   * @param offset Return snapshots given the offset (optional, default to 0)
   * @param sort Sort order (optional)
   * @param headers Optional headers to include in the request
   * @return List&lt;FlagSnapshot&gt;
   * @throws ApiException if fails to make API call
   */
  public List<FlagSnapshot> getFlagSnapshots(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable String sort, Map<String, String> headers) throws ApiException {
    ApiResponse<List<FlagSnapshot>> localVarResponse = getFlagSnapshotsWithHttpInfo(flagId, limit, offset, sort, headers);
    return localVarResponse.getData();
  }

  /**
   * Get flag snapshots
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param limit The number of snapshots to return (optional)
   * @param offset Return snapshots given the offset (optional, default to 0)
   * @param sort Sort order (optional)
   * @return ApiResponse&lt;List&lt;FlagSnapshot&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<FlagSnapshot>> getFlagSnapshotsWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable String sort) throws ApiException {
    return getFlagSnapshotsWithHttpInfo(flagId, limit, offset, sort, null);
  }

  /**
   * Get flag snapshots
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param limit The number of snapshots to return (optional)
   * @param offset Return snapshots given the offset (optional, default to 0)
   * @param sort Sort order (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;List&lt;FlagSnapshot&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<FlagSnapshot>> getFlagSnapshotsWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable String sort, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getFlagSnapshotsRequestBuilder(flagId, limit, offset, sort, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getFlagSnapshots", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<List<FlagSnapshot>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        List<FlagSnapshot> responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<FlagSnapshot>>() {});
        

        return new ApiResponse<List<FlagSnapshot>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getFlagSnapshotsRequestBuilder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable String sort, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling getFlagSnapshots");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/snapshots"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "sort";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sort", sort));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param putFlagRequest  (required)
   * @return Flag
   * @throws ApiException if fails to make API call
   */
  public Flag putFlag(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull PutFlagRequest putFlagRequest) throws ApiException {
    return putFlag(flagId, putFlagRequest, null);
  }

  /**
   * Update flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param putFlagRequest  (required)
   * @param headers Optional headers to include in the request
   * @return Flag
   * @throws ApiException if fails to make API call
   */
  public Flag putFlag(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull PutFlagRequest putFlagRequest, Map<String, String> headers) throws ApiException {
    ApiResponse<Flag> localVarResponse = putFlagWithHttpInfo(flagId, putFlagRequest, headers);
    return localVarResponse.getData();
  }

  /**
   * Update flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param putFlagRequest  (required)
   * @return ApiResponse&lt;Flag&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Flag> putFlagWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull PutFlagRequest putFlagRequest) throws ApiException {
    return putFlagWithHttpInfo(flagId, putFlagRequest, null);
  }

  /**
   * Update flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param putFlagRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Flag&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Flag> putFlagWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull PutFlagRequest putFlagRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = putFlagRequestBuilder(flagId, putFlagRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("putFlag", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<Flag>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        Flag responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Flag>() {});
        

        return new ApiResponse<Flag>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder putFlagRequestBuilder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull PutFlagRequest putFlagRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling putFlag");
    }
    // verify the required parameter 'putFlagRequest' is set
    if (putFlagRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'putFlagRequest' when calling putFlag");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(putFlagRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Restore deleted flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @return Flag
   * @throws ApiException if fails to make API call
   */
  public Flag restoreFlag(@jakarta.annotation.Nonnull Long flagId) throws ApiException {
    return restoreFlag(flagId, null);
  }

  /**
   * Restore deleted flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param headers Optional headers to include in the request
   * @return Flag
   * @throws ApiException if fails to make API call
   */
  public Flag restoreFlag(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    ApiResponse<Flag> localVarResponse = restoreFlagWithHttpInfo(flagId, headers);
    return localVarResponse.getData();
  }

  /**
   * Restore deleted flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @return ApiResponse&lt;Flag&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Flag> restoreFlagWithHttpInfo(@jakarta.annotation.Nonnull Long flagId) throws ApiException {
    return restoreFlagWithHttpInfo(flagId, null);
  }

  /**
   * Restore deleted flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Flag&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Flag> restoreFlagWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = restoreFlagRequestBuilder(flagId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("restoreFlag", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<Flag>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        Flag responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Flag>() {});
        

        return new ApiResponse<Flag>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder restoreFlagRequestBuilder(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling restoreFlag");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/restore"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Set flag enabled status
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param setFlagEnabledRequest  (required)
   * @return Flag
   * @throws ApiException if fails to make API call
   */
  public Flag setFlagEnabled(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull SetFlagEnabledRequest setFlagEnabledRequest) throws ApiException {
    return setFlagEnabled(flagId, setFlagEnabledRequest, null);
  }

  /**
   * Set flag enabled status
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param setFlagEnabledRequest  (required)
   * @param headers Optional headers to include in the request
   * @return Flag
   * @throws ApiException if fails to make API call
   */
  public Flag setFlagEnabled(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull SetFlagEnabledRequest setFlagEnabledRequest, Map<String, String> headers) throws ApiException {
    ApiResponse<Flag> localVarResponse = setFlagEnabledWithHttpInfo(flagId, setFlagEnabledRequest, headers);
    return localVarResponse.getData();
  }

  /**
   * Set flag enabled status
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param setFlagEnabledRequest  (required)
   * @return ApiResponse&lt;Flag&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Flag> setFlagEnabledWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull SetFlagEnabledRequest setFlagEnabledRequest) throws ApiException {
    return setFlagEnabledWithHttpInfo(flagId, setFlagEnabledRequest, null);
  }

  /**
   * Set flag enabled status
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param setFlagEnabledRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Flag&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Flag> setFlagEnabledWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull SetFlagEnabledRequest setFlagEnabledRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = setFlagEnabledRequestBuilder(flagId, setFlagEnabledRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("setFlagEnabled", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<Flag>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        Flag responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Flag>() {});
        

        return new ApiResponse<Flag>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder setFlagEnabledRequestBuilder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull SetFlagEnabledRequest setFlagEnabledRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling setFlagEnabled");
    }
    // verify the required parameter 'setFlagEnabledRequest' is set
    if (setFlagEnabledRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'setFlagEnabledRequest' when calling setFlagEnabled");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/enabled"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(setFlagEnabledRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
