/*
 * Flagent API
 * Flagent is a feature flagging, A/B testing and dynamic configuration microservice. The base path for all the APIs is \"/api/v1\". ## Authentication Flagent supports multiple authentication methods (configured via environment variables): - **JWT Authentication**: Bearer token authentication - **Basic Authentication**: Username/password authentication - **Header Authentication**: Custom header-based authentication - **Cookie Authentication**: Cookie-based authentication Some endpoints (like `/health`, `/evaluation`) may be whitelisted and don't require authentication. ## Error Responses All error responses follow the same format: ```json {   \"message\": \"Error description\" } ``` Common HTTP status codes: - `200`: Success - `400`: Bad Request - invalid input parameters - `404`: Not Found - resource doesn't exist - `429`: Too Many Requests - rate limit exceeded - `500`: Internal Server Error - server error ## Rate Limiting Rate limiting is configured via environment variables: - `FLAGENT_RATELIMITER_PERFLAG_PERSECOND_CONSOLE_LOGGING`: Maximum evaluations per flag per second (default: 100) When rate limit is exceeded, the API returns `429 Too Many Requests` status code. ## Best Practices - Use batch evaluation (`/evaluation/batch`) when evaluating multiple flags for multiple entities - Use `enableDebug: true` only in development environments - Preload flags with `preload=true` parameter when fetching flags to reduce subsequent API calls - Use tags to organize and filter flags efficiently 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.flagent.client.api;

import com.flagent.client.ApiClient;
import com.flagent.client.ApiException;
import com.flagent.client.ApiResponse;
import com.flagent.client.Configuration;
import com.flagent.client.Pair;

import com.flagent.client.model.CreateSegmentRequest;
import com.flagent.client.model.Error;
import com.flagent.client.model.PutSegmentReorderRequest;
import com.flagent.client.model.PutSegmentRequest;
import com.flagent.client.model.Segment;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.18.0")
public class SegmentApi {
  /**
   * Utility class for extending HttpRequest.Builder functionality.
   */
  private static class HttpRequestBuilderExtensions {
    /**
     * Adds additional headers to the provided HttpRequest.Builder. Useful for adding method/endpoint specific headers.
     *
     * @param builder the HttpRequest.Builder to which headers will be added
     * @param headers a map of header names and values to add; may be null
     * @return the same HttpRequest.Builder instance with the additional headers set
     */
    static HttpRequest.Builder withAdditionalHeaders(HttpRequest.Builder builder, Map<String, String> headers) {
        if (headers != null) {
            for (Map.Entry<String, String> entry : headers.entrySet()) {
                builder.header(entry.getKey(), entry.getValue());
            }
        }
        return builder;
    }
  }
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<InputStream>> memberVarAsyncResponseInterceptor;

  public SegmentApi() {
    this(Configuration.getDefaultApiClient());
  }

  public SegmentApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }


  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    InputStream responseBody = ApiClient.getResponseBody(response);
    String body = null;
    try {
      body = responseBody == null ? null : new String(responseBody.readAllBytes());
    } finally {
      if (responseBody != null) {
        responseBody.close();
      }
    }
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download file from the given response.
   *
   * @param response Response
   * @return File
   * @throws ApiException If fail to read file content from response and write to disk
   */
  public File downloadFileFromResponse(HttpResponse<InputStream> response, InputStream responseBody) throws ApiException {
    if (responseBody == null) {
      throw new ApiException(new IOException("Response body is empty"));
    }
    try {
      File file = prepareDownloadFile(response);
      java.nio.file.Files.copy(responseBody, file.toPath(), java.nio.file.StandardCopyOption.REPLACE_EXISTING);
      return file;
    } catch (IOException e) {
      throw new ApiException(e);
    }
  }

  /**
   * <p>Prepare the file for download from the response.</p>
   *
   * @param response a {@link java.net.http.HttpResponse} object.
   * @return a {@link java.io.File} object.
   * @throws java.io.IOException if any.
   */
  private File prepareDownloadFile(HttpResponse<InputStream> response) throws IOException {
    String filename = null;
    java.util.Optional<String> contentDisposition = response.headers().firstValue("Content-Disposition");
    if (contentDisposition.isPresent() && !"".equals(contentDisposition.get())) {
      // Get filename from the Content-Disposition header.
      java.util.regex.Pattern pattern = java.util.regex.Pattern.compile("filename=['\"]?([^'\"\\s]+)['\"]?");
      java.util.regex.Matcher matcher = pattern.matcher(contentDisposition.get());
      if (matcher.find())
        filename = matcher.group(1);
    }
    File file = null;
    if (filename != null) {
      java.nio.file.Path tempDir = java.nio.file.Files.createTempDirectory("swagger-gen-native");
      java.nio.file.Path filePath = java.nio.file.Files.createFile(tempDir.resolve(filename));
      file = filePath.toFile();
      tempDir.toFile().deleteOnExit();   // best effort cleanup
      file.deleteOnExit(); // best effort cleanup
    } else {
      file = java.nio.file.Files.createTempFile("download-", "").toFile();
      file.deleteOnExit(); // best effort cleanup
    }
    return file;
  }

  /**
   * Create segment
   * Create a new segment for the flag. Segments define the audience and are evaluated in order by rank.
   * @param flagId Numeric ID of the flag (required)
   * @param createSegmentRequest  (required)
   * @return Segment
   * @throws ApiException if fails to make API call
   */
  public Segment createSegment(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateSegmentRequest createSegmentRequest) throws ApiException {
    return createSegment(flagId, createSegmentRequest, null);
  }

  /**
   * Create segment
   * Create a new segment for the flag. Segments define the audience and are evaluated in order by rank.
   * @param flagId Numeric ID of the flag (required)
   * @param createSegmentRequest  (required)
   * @param headers Optional headers to include in the request
   * @return Segment
   * @throws ApiException if fails to make API call
   */
  public Segment createSegment(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateSegmentRequest createSegmentRequest, Map<String, String> headers) throws ApiException {
    ApiResponse<Segment> localVarResponse = createSegmentWithHttpInfo(flagId, createSegmentRequest, headers);
    return localVarResponse.getData();
  }

  /**
   * Create segment
   * Create a new segment for the flag. Segments define the audience and are evaluated in order by rank.
   * @param flagId Numeric ID of the flag (required)
   * @param createSegmentRequest  (required)
   * @return ApiResponse&lt;Segment&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Segment> createSegmentWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateSegmentRequest createSegmentRequest) throws ApiException {
    return createSegmentWithHttpInfo(flagId, createSegmentRequest, null);
  }

  /**
   * Create segment
   * Create a new segment for the flag. Segments define the audience and are evaluated in order by rank.
   * @param flagId Numeric ID of the flag (required)
   * @param createSegmentRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Segment&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Segment> createSegmentWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateSegmentRequest createSegmentRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createSegmentRequestBuilder(flagId, createSegmentRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createSegment", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<Segment>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        Segment responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Segment>() {});
        

        return new ApiResponse<Segment>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createSegmentRequestBuilder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateSegmentRequest createSegmentRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling createSegment");
    }
    // verify the required parameter 'createSegmentRequest' is set
    if (createSegmentRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createSegmentRequest' when calling createSegment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/segments"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createSegmentRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete segment
   * Delete a segment. This will also delete all constraints and distributions associated with the segment.
   * @param flagId Numeric ID of the flag (required)
   * @param segmentId Numeric ID of the segment (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteSegment(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long segmentId) throws ApiException {
    deleteSegment(flagId, segmentId, null);
  }

  /**
   * Delete segment
   * Delete a segment. This will also delete all constraints and distributions associated with the segment.
   * @param flagId Numeric ID of the flag (required)
   * @param segmentId Numeric ID of the segment (required)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void deleteSegment(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long segmentId, Map<String, String> headers) throws ApiException {
    deleteSegmentWithHttpInfo(flagId, segmentId, headers);
  }

  /**
   * Delete segment
   * Delete a segment. This will also delete all constraints and distributions associated with the segment.
   * @param flagId Numeric ID of the flag (required)
   * @param segmentId Numeric ID of the segment (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteSegmentWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long segmentId) throws ApiException {
    return deleteSegmentWithHttpInfo(flagId, segmentId, null);
  }

  /**
   * Delete segment
   * Delete a segment. This will also delete all constraints and distributions associated with the segment.
   * @param flagId Numeric ID of the flag (required)
   * @param segmentId Numeric ID of the segment (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteSegmentWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long segmentId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteSegmentRequestBuilder(flagId, segmentId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteSegment", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteSegmentRequestBuilder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long segmentId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling deleteSegment");
    }
    // verify the required parameter 'segmentId' is set
    if (segmentId == null) {
      throw new ApiException(400, "Missing the required parameter 'segmentId' when calling deleteSegment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/segments/{segmentId}"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()))
        .replace("{segmentId}", ApiClient.urlEncode(segmentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get segments for flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @return List&lt;Segment&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Segment> findSegments(@jakarta.annotation.Nonnull Long flagId) throws ApiException {
    return findSegments(flagId, null);
  }

  /**
   * Get segments for flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param headers Optional headers to include in the request
   * @return List&lt;Segment&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Segment> findSegments(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    ApiResponse<List<Segment>> localVarResponse = findSegmentsWithHttpInfo(flagId, headers);
    return localVarResponse.getData();
  }

  /**
   * Get segments for flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @return ApiResponse&lt;List&lt;Segment&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Segment>> findSegmentsWithHttpInfo(@jakarta.annotation.Nonnull Long flagId) throws ApiException {
    return findSegmentsWithHttpInfo(flagId, null);
  }

  /**
   * Get segments for flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;List&lt;Segment&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Segment>> findSegmentsWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = findSegmentsRequestBuilder(flagId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("findSegments", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<List<Segment>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        List<Segment> responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<Segment>>() {});
        

        return new ApiResponse<List<Segment>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder findSegmentsRequestBuilder(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling findSegments");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/segments"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update segment
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param segmentId Numeric ID of the segment (required)
   * @param putSegmentRequest  (required)
   * @return Segment
   * @throws ApiException if fails to make API call
   */
  public Segment putSegment(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long segmentId, @jakarta.annotation.Nonnull PutSegmentRequest putSegmentRequest) throws ApiException {
    return putSegment(flagId, segmentId, putSegmentRequest, null);
  }

  /**
   * Update segment
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param segmentId Numeric ID of the segment (required)
   * @param putSegmentRequest  (required)
   * @param headers Optional headers to include in the request
   * @return Segment
   * @throws ApiException if fails to make API call
   */
  public Segment putSegment(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long segmentId, @jakarta.annotation.Nonnull PutSegmentRequest putSegmentRequest, Map<String, String> headers) throws ApiException {
    ApiResponse<Segment> localVarResponse = putSegmentWithHttpInfo(flagId, segmentId, putSegmentRequest, headers);
    return localVarResponse.getData();
  }

  /**
   * Update segment
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param segmentId Numeric ID of the segment (required)
   * @param putSegmentRequest  (required)
   * @return ApiResponse&lt;Segment&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Segment> putSegmentWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long segmentId, @jakarta.annotation.Nonnull PutSegmentRequest putSegmentRequest) throws ApiException {
    return putSegmentWithHttpInfo(flagId, segmentId, putSegmentRequest, null);
  }

  /**
   * Update segment
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param segmentId Numeric ID of the segment (required)
   * @param putSegmentRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Segment&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Segment> putSegmentWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long segmentId, @jakarta.annotation.Nonnull PutSegmentRequest putSegmentRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = putSegmentRequestBuilder(flagId, segmentId, putSegmentRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("putSegment", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<Segment>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        Segment responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Segment>() {});
        

        return new ApiResponse<Segment>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder putSegmentRequestBuilder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long segmentId, @jakarta.annotation.Nonnull PutSegmentRequest putSegmentRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling putSegment");
    }
    // verify the required parameter 'segmentId' is set
    if (segmentId == null) {
      throw new ApiException(400, "Missing the required parameter 'segmentId' when calling putSegment");
    }
    // verify the required parameter 'putSegmentRequest' is set
    if (putSegmentRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'putSegmentRequest' when calling putSegment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/segments/{segmentId}"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()))
        .replace("{segmentId}", ApiClient.urlEncode(segmentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(putSegmentRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Reorder segments
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param putSegmentReorderRequest  (required)
   * @throws ApiException if fails to make API call
   */
  public void putSegmentReorder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull PutSegmentReorderRequest putSegmentReorderRequest) throws ApiException {
    putSegmentReorder(flagId, putSegmentReorderRequest, null);
  }

  /**
   * Reorder segments
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param putSegmentReorderRequest  (required)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void putSegmentReorder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull PutSegmentReorderRequest putSegmentReorderRequest, Map<String, String> headers) throws ApiException {
    putSegmentReorderWithHttpInfo(flagId, putSegmentReorderRequest, headers);
  }

  /**
   * Reorder segments
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param putSegmentReorderRequest  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> putSegmentReorderWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull PutSegmentReorderRequest putSegmentReorderRequest) throws ApiException {
    return putSegmentReorderWithHttpInfo(flagId, putSegmentReorderRequest, null);
  }

  /**
   * Reorder segments
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param putSegmentReorderRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> putSegmentReorderWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull PutSegmentReorderRequest putSegmentReorderRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = putSegmentReorderRequestBuilder(flagId, putSegmentReorderRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("putSegmentReorder", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder putSegmentReorderRequestBuilder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull PutSegmentReorderRequest putSegmentReorderRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling putSegmentReorder");
    }
    // verify the required parameter 'putSegmentReorderRequest' is set
    if (putSegmentReorderRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'putSegmentReorderRequest' when calling putSegmentReorder");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/segments/reorder"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(putSegmentReorderRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
