/*
 * Flagent API
 * Flagent is a feature flagging, A/B testing and dynamic configuration microservice. The base path for all the APIs is \"/api/v1\". ## Authentication Flagent supports multiple authentication methods (configured via environment variables): - **JWT Authentication**: Bearer token authentication - **Basic Authentication**: Username/password authentication - **Header Authentication**: Custom header-based authentication - **Cookie Authentication**: Cookie-based authentication Some endpoints (like `/health`, `/evaluation`) may be whitelisted and don't require authentication. ## Error Responses All error responses follow the same format: ```json {   \"message\": \"Error description\" } ``` Common HTTP status codes: - `200`: Success - `400`: Bad Request - invalid input parameters - `404`: Not Found - resource doesn't exist - `429`: Too Many Requests - rate limit exceeded - `500`: Internal Server Error - server error ## Rate Limiting Rate limiting is configured via environment variables: - `FLAGENT_RATELIMITER_PERFLAG_PERSECOND_CONSOLE_LOGGING`: Maximum evaluations per flag per second (default: 100) When rate limit is exceeded, the API returns `429 Too Many Requests` status code. ## Best Practices - Use batch evaluation (`/evaluation/batch`) when evaluating multiple flags for multiple entities - Use `enableDebug: true` only in development environments - Preload flags with `preload=true` parameter when fetching flags to reduce subsequent API calls - Use tags to organize and filter flags efficiently 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.flagent.client.api;

import com.flagent.client.ApiClient;
import com.flagent.client.ApiException;
import com.flagent.client.ApiResponse;
import com.flagent.client.Configuration;
import com.flagent.client.Pair;

import com.flagent.client.model.CreateTagRequest;
import com.flagent.client.model.Error;
import com.flagent.client.model.Tag;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.18.0")
public class TagApi {
  /**
   * Utility class for extending HttpRequest.Builder functionality.
   */
  private static class HttpRequestBuilderExtensions {
    /**
     * Adds additional headers to the provided HttpRequest.Builder. Useful for adding method/endpoint specific headers.
     *
     * @param builder the HttpRequest.Builder to which headers will be added
     * @param headers a map of header names and values to add; may be null
     * @return the same HttpRequest.Builder instance with the additional headers set
     */
    static HttpRequest.Builder withAdditionalHeaders(HttpRequest.Builder builder, Map<String, String> headers) {
        if (headers != null) {
            for (Map.Entry<String, String> entry : headers.entrySet()) {
                builder.header(entry.getKey(), entry.getValue());
            }
        }
        return builder;
    }
  }
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<InputStream>> memberVarAsyncResponseInterceptor;

  public TagApi() {
    this(Configuration.getDefaultApiClient());
  }

  public TagApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }


  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    InputStream responseBody = ApiClient.getResponseBody(response);
    String body = null;
    try {
      body = responseBody == null ? null : new String(responseBody.readAllBytes());
    } finally {
      if (responseBody != null) {
        responseBody.close();
      }
    }
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download file from the given response.
   *
   * @param response Response
   * @return File
   * @throws ApiException If fail to read file content from response and write to disk
   */
  public File downloadFileFromResponse(HttpResponse<InputStream> response, InputStream responseBody) throws ApiException {
    if (responseBody == null) {
      throw new ApiException(new IOException("Response body is empty"));
    }
    try {
      File file = prepareDownloadFile(response);
      java.nio.file.Files.copy(responseBody, file.toPath(), java.nio.file.StandardCopyOption.REPLACE_EXISTING);
      return file;
    } catch (IOException e) {
      throw new ApiException(e);
    }
  }

  /**
   * <p>Prepare the file for download from the response.</p>
   *
   * @param response a {@link java.net.http.HttpResponse} object.
   * @return a {@link java.io.File} object.
   * @throws java.io.IOException if any.
   */
  private File prepareDownloadFile(HttpResponse<InputStream> response) throws IOException {
    String filename = null;
    java.util.Optional<String> contentDisposition = response.headers().firstValue("Content-Disposition");
    if (contentDisposition.isPresent() && !"".equals(contentDisposition.get())) {
      // Get filename from the Content-Disposition header.
      java.util.regex.Pattern pattern = java.util.regex.Pattern.compile("filename=['\"]?([^'\"\\s]+)['\"]?");
      java.util.regex.Matcher matcher = pattern.matcher(contentDisposition.get());
      if (matcher.find())
        filename = matcher.group(1);
    }
    File file = null;
    if (filename != null) {
      java.nio.file.Path tempDir = java.nio.file.Files.createTempDirectory("swagger-gen-native");
      java.nio.file.Path filePath = java.nio.file.Files.createFile(tempDir.resolve(filename));
      file = filePath.toFile();
      tempDir.toFile().deleteOnExit();   // best effort cleanup
      file.deleteOnExit(); // best effort cleanup
    } else {
      file = java.nio.file.Files.createTempFile("download-", "").toFile();
      file.deleteOnExit(); // best effort cleanup
    }
    return file;
  }

  /**
   * Create tag and associate with flag
   * Create a tag and associate it with the flag. Tags are used for organizing and filtering flags.
   * @param flagId Numeric ID of the flag (required)
   * @param createTagRequest  (required)
   * @return Tag
   * @throws ApiException if fails to make API call
   */
  public Tag createFlagTag(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateTagRequest createTagRequest) throws ApiException {
    return createFlagTag(flagId, createTagRequest, null);
  }

  /**
   * Create tag and associate with flag
   * Create a tag and associate it with the flag. Tags are used for organizing and filtering flags.
   * @param flagId Numeric ID of the flag (required)
   * @param createTagRequest  (required)
   * @param headers Optional headers to include in the request
   * @return Tag
   * @throws ApiException if fails to make API call
   */
  public Tag createFlagTag(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateTagRequest createTagRequest, Map<String, String> headers) throws ApiException {
    ApiResponse<Tag> localVarResponse = createFlagTagWithHttpInfo(flagId, createTagRequest, headers);
    return localVarResponse.getData();
  }

  /**
   * Create tag and associate with flag
   * Create a tag and associate it with the flag. Tags are used for organizing and filtering flags.
   * @param flagId Numeric ID of the flag (required)
   * @param createTagRequest  (required)
   * @return ApiResponse&lt;Tag&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Tag> createFlagTagWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateTagRequest createTagRequest) throws ApiException {
    return createFlagTagWithHttpInfo(flagId, createTagRequest, null);
  }

  /**
   * Create tag and associate with flag
   * Create a tag and associate it with the flag. Tags are used for organizing and filtering flags.
   * @param flagId Numeric ID of the flag (required)
   * @param createTagRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Tag&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Tag> createFlagTagWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateTagRequest createTagRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createFlagTagRequestBuilder(flagId, createTagRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createFlagTag", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<Tag>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        Tag responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Tag>() {});
        

        return new ApiResponse<Tag>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createFlagTagRequestBuilder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateTagRequest createTagRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling createFlagTag");
    }
    // verify the required parameter 'createTagRequest' is set
    if (createTagRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createTagRequest' when calling createFlagTag");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/tags"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createTagRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Remove tag from flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param tagId Numeric ID of the tag (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteFlagTag(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long tagId) throws ApiException {
    deleteFlagTag(flagId, tagId, null);
  }

  /**
   * Remove tag from flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param tagId Numeric ID of the tag (required)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void deleteFlagTag(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long tagId, Map<String, String> headers) throws ApiException {
    deleteFlagTagWithHttpInfo(flagId, tagId, headers);
  }

  /**
   * Remove tag from flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param tagId Numeric ID of the tag (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteFlagTagWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long tagId) throws ApiException {
    return deleteFlagTagWithHttpInfo(flagId, tagId, null);
  }

  /**
   * Remove tag from flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param tagId Numeric ID of the tag (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteFlagTagWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long tagId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteFlagTagRequestBuilder(flagId, tagId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteFlagTag", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteFlagTagRequestBuilder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long tagId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling deleteFlagTag");
    }
    // verify the required parameter 'tagId' is set
    if (tagId == null) {
      throw new ApiException(400, "Missing the required parameter 'tagId' when calling deleteFlagTag");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/tags/{tagId}"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()))
        .replace("{tagId}", ApiClient.urlEncode(tagId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get all tags
   * 
   * @param limit The numbers of tags to return (optional)
   * @param offset Return tags given the offset (optional, default to 0)
   * @param valueLike Return tags partially matching given value (optional)
   * @return List&lt;Tag&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Tag> findAllTags(@jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable String valueLike) throws ApiException {
    return findAllTags(limit, offset, valueLike, null);
  }

  /**
   * Get all tags
   * 
   * @param limit The numbers of tags to return (optional)
   * @param offset Return tags given the offset (optional, default to 0)
   * @param valueLike Return tags partially matching given value (optional)
   * @param headers Optional headers to include in the request
   * @return List&lt;Tag&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Tag> findAllTags(@jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable String valueLike, Map<String, String> headers) throws ApiException {
    ApiResponse<List<Tag>> localVarResponse = findAllTagsWithHttpInfo(limit, offset, valueLike, headers);
    return localVarResponse.getData();
  }

  /**
   * Get all tags
   * 
   * @param limit The numbers of tags to return (optional)
   * @param offset Return tags given the offset (optional, default to 0)
   * @param valueLike Return tags partially matching given value (optional)
   * @return ApiResponse&lt;List&lt;Tag&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Tag>> findAllTagsWithHttpInfo(@jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable String valueLike) throws ApiException {
    return findAllTagsWithHttpInfo(limit, offset, valueLike, null);
  }

  /**
   * Get all tags
   * 
   * @param limit The numbers of tags to return (optional)
   * @param offset Return tags given the offset (optional, default to 0)
   * @param valueLike Return tags partially matching given value (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;List&lt;Tag&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Tag>> findAllTagsWithHttpInfo(@jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable String valueLike, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = findAllTagsRequestBuilder(limit, offset, valueLike, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("findAllTags", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<List<Tag>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        List<Tag> responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<Tag>>() {});
        

        return new ApiResponse<List<Tag>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder findAllTagsRequestBuilder(@jakarta.annotation.Nullable Long limit, @jakarta.annotation.Nullable Long offset, @jakarta.annotation.Nullable String valueLike, Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tags";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "value_like";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("value_like", valueLike));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get tags for flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @return List&lt;Tag&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Tag> findFlagTags(@jakarta.annotation.Nonnull Long flagId) throws ApiException {
    return findFlagTags(flagId, null);
  }

  /**
   * Get tags for flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param headers Optional headers to include in the request
   * @return List&lt;Tag&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Tag> findFlagTags(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    ApiResponse<List<Tag>> localVarResponse = findFlagTagsWithHttpInfo(flagId, headers);
    return localVarResponse.getData();
  }

  /**
   * Get tags for flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @return ApiResponse&lt;List&lt;Tag&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Tag>> findFlagTagsWithHttpInfo(@jakarta.annotation.Nonnull Long flagId) throws ApiException {
    return findFlagTagsWithHttpInfo(flagId, null);
  }

  /**
   * Get tags for flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;List&lt;Tag&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Tag>> findFlagTagsWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = findFlagTagsRequestBuilder(flagId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("findFlagTags", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<List<Tag>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        List<Tag> responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<Tag>>() {});
        

        return new ApiResponse<List<Tag>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder findFlagTagsRequestBuilder(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling findFlagTags");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/tags"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
