/*
 * Flagent API
 * Flagent is a feature flagging, A/B testing and dynamic configuration microservice. The base path for all the APIs is \"/api/v1\". ## Authentication Flagent supports multiple authentication methods (configured via environment variables): - **JWT Authentication**: Bearer token authentication - **Basic Authentication**: Username/password authentication - **Header Authentication**: Custom header-based authentication - **Cookie Authentication**: Cookie-based authentication Some endpoints (like `/health`, `/evaluation`) may be whitelisted and don't require authentication. ## Error Responses All error responses follow the same format: ```json {   \"message\": \"Error description\" } ``` Common HTTP status codes: - `200`: Success - `400`: Bad Request - invalid input parameters - `404`: Not Found - resource doesn't exist - `429`: Too Many Requests - rate limit exceeded - `500`: Internal Server Error - server error ## Rate Limiting Rate limiting is configured via environment variables: - `FLAGENT_RATELIMITER_PERFLAG_PERSECOND_CONSOLE_LOGGING`: Maximum evaluations per flag per second (default: 100) When rate limit is exceeded, the API returns `429 Too Many Requests` status code. ## Best Practices - Use batch evaluation (`/evaluation/batch`) when evaluating multiple flags for multiple entities - Use `enableDebug: true` only in development environments - Preload flags with `preload=true` parameter when fetching flags to reduce subsequent API calls - Use tags to organize and filter flags efficiently 
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.flagent.client.api;

import com.flagent.client.ApiClient;
import com.flagent.client.ApiException;
import com.flagent.client.ApiResponse;
import com.flagent.client.Configuration;
import com.flagent.client.Pair;

import com.flagent.client.model.CreateVariantRequest;
import com.flagent.client.model.Error;
import com.flagent.client.model.PutVariantRequest;
import com.flagent.client.model.Variant;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.18.0")
public class VariantApi {
  /**
   * Utility class for extending HttpRequest.Builder functionality.
   */
  private static class HttpRequestBuilderExtensions {
    /**
     * Adds additional headers to the provided HttpRequest.Builder. Useful for adding method/endpoint specific headers.
     *
     * @param builder the HttpRequest.Builder to which headers will be added
     * @param headers a map of header names and values to add; may be null
     * @return the same HttpRequest.Builder instance with the additional headers set
     */
    static HttpRequest.Builder withAdditionalHeaders(HttpRequest.Builder builder, Map<String, String> headers) {
        if (headers != null) {
            for (Map.Entry<String, String> entry : headers.entrySet()) {
                builder.header(entry.getKey(), entry.getValue());
            }
        }
        return builder;
    }
  }
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<InputStream>> memberVarAsyncResponseInterceptor;

  public VariantApi() {
    this(Configuration.getDefaultApiClient());
  }

  public VariantApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }


  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    InputStream responseBody = ApiClient.getResponseBody(response);
    String body = null;
    try {
      body = responseBody == null ? null : new String(responseBody.readAllBytes());
    } finally {
      if (responseBody != null) {
        responseBody.close();
      }
    }
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download file from the given response.
   *
   * @param response Response
   * @return File
   * @throws ApiException If fail to read file content from response and write to disk
   */
  public File downloadFileFromResponse(HttpResponse<InputStream> response, InputStream responseBody) throws ApiException {
    if (responseBody == null) {
      throw new ApiException(new IOException("Response body is empty"));
    }
    try {
      File file = prepareDownloadFile(response);
      java.nio.file.Files.copy(responseBody, file.toPath(), java.nio.file.StandardCopyOption.REPLACE_EXISTING);
      return file;
    } catch (IOException e) {
      throw new ApiException(e);
    }
  }

  /**
   * <p>Prepare the file for download from the response.</p>
   *
   * @param response a {@link java.net.http.HttpResponse} object.
   * @return a {@link java.io.File} object.
   * @throws java.io.IOException if any.
   */
  private File prepareDownloadFile(HttpResponse<InputStream> response) throws IOException {
    String filename = null;
    java.util.Optional<String> contentDisposition = response.headers().firstValue("Content-Disposition");
    if (contentDisposition.isPresent() && !"".equals(contentDisposition.get())) {
      // Get filename from the Content-Disposition header.
      java.util.regex.Pattern pattern = java.util.regex.Pattern.compile("filename=['\"]?([^'\"\\s]+)['\"]?");
      java.util.regex.Matcher matcher = pattern.matcher(contentDisposition.get());
      if (matcher.find())
        filename = matcher.group(1);
    }
    File file = null;
    if (filename != null) {
      java.nio.file.Path tempDir = java.nio.file.Files.createTempDirectory("swagger-gen-native");
      java.nio.file.Path filePath = java.nio.file.Files.createFile(tempDir.resolve(filename));
      file = filePath.toFile();
      tempDir.toFile().deleteOnExit();   // best effort cleanup
      file.deleteOnExit(); // best effort cleanup
    } else {
      file = java.nio.file.Files.createTempFile("download-", "").toFile();
      file.deleteOnExit(); // best effort cleanup
    }
    return file;
  }

  /**
   * Create variant
   * Create a variant for the flag. Variants are the possible outcomes of flag evaluation.
   * @param flagId Numeric ID of the flag (required)
   * @param createVariantRequest  (required)
   * @return Variant
   * @throws ApiException if fails to make API call
   */
  public Variant createVariant(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateVariantRequest createVariantRequest) throws ApiException {
    return createVariant(flagId, createVariantRequest, null);
  }

  /**
   * Create variant
   * Create a variant for the flag. Variants are the possible outcomes of flag evaluation.
   * @param flagId Numeric ID of the flag (required)
   * @param createVariantRequest  (required)
   * @param headers Optional headers to include in the request
   * @return Variant
   * @throws ApiException if fails to make API call
   */
  public Variant createVariant(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateVariantRequest createVariantRequest, Map<String, String> headers) throws ApiException {
    ApiResponse<Variant> localVarResponse = createVariantWithHttpInfo(flagId, createVariantRequest, headers);
    return localVarResponse.getData();
  }

  /**
   * Create variant
   * Create a variant for the flag. Variants are the possible outcomes of flag evaluation.
   * @param flagId Numeric ID of the flag (required)
   * @param createVariantRequest  (required)
   * @return ApiResponse&lt;Variant&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Variant> createVariantWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateVariantRequest createVariantRequest) throws ApiException {
    return createVariantWithHttpInfo(flagId, createVariantRequest, null);
  }

  /**
   * Create variant
   * Create a variant for the flag. Variants are the possible outcomes of flag evaluation.
   * @param flagId Numeric ID of the flag (required)
   * @param createVariantRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Variant&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Variant> createVariantWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateVariantRequest createVariantRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createVariantRequestBuilder(flagId, createVariantRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createVariant", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<Variant>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        Variant responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Variant>() {});
        

        return new ApiResponse<Variant>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createVariantRequestBuilder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull CreateVariantRequest createVariantRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling createVariant");
    }
    // verify the required parameter 'createVariantRequest' is set
    if (createVariantRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'createVariantRequest' when calling createVariant");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/variants"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createVariantRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete variant
   * Delete a variant. This will also remove it from all distributions.
   * @param flagId Numeric ID of the flag (required)
   * @param variantId Numeric ID of the variant (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteVariant(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long variantId) throws ApiException {
    deleteVariant(flagId, variantId, null);
  }

  /**
   * Delete variant
   * Delete a variant. This will also remove it from all distributions.
   * @param flagId Numeric ID of the flag (required)
   * @param variantId Numeric ID of the variant (required)
   * @param headers Optional headers to include in the request
   * @throws ApiException if fails to make API call
   */
  public void deleteVariant(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long variantId, Map<String, String> headers) throws ApiException {
    deleteVariantWithHttpInfo(flagId, variantId, headers);
  }

  /**
   * Delete variant
   * Delete a variant. This will also remove it from all distributions.
   * @param flagId Numeric ID of the flag (required)
   * @param variantId Numeric ID of the variant (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteVariantWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long variantId) throws ApiException {
    return deleteVariantWithHttpInfo(flagId, variantId, null);
  }

  /**
   * Delete variant
   * Delete a variant. This will also remove it from all distributions.
   * @param flagId Numeric ID of the flag (required)
   * @param variantId Numeric ID of the variant (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteVariantWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long variantId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteVariantRequestBuilder(flagId, variantId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteVariant", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody != null) {
          localVarResponseBody.readAllBytes();
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteVariantRequestBuilder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long variantId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling deleteVariant");
    }
    // verify the required parameter 'variantId' is set
    if (variantId == null) {
      throw new ApiException(400, "Missing the required parameter 'variantId' when calling deleteVariant");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/variants/{variantId}"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()))
        .replace("{variantId}", ApiClient.urlEncode(variantId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get variants for flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @return List&lt;Variant&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Variant> findVariants(@jakarta.annotation.Nonnull Long flagId) throws ApiException {
    return findVariants(flagId, null);
  }

  /**
   * Get variants for flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param headers Optional headers to include in the request
   * @return List&lt;Variant&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Variant> findVariants(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    ApiResponse<List<Variant>> localVarResponse = findVariantsWithHttpInfo(flagId, headers);
    return localVarResponse.getData();
  }

  /**
   * Get variants for flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @return ApiResponse&lt;List&lt;Variant&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Variant>> findVariantsWithHttpInfo(@jakarta.annotation.Nonnull Long flagId) throws ApiException {
    return findVariantsWithHttpInfo(flagId, null);
  }

  /**
   * Get variants for flag
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;List&lt;Variant&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Variant>> findVariantsWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = findVariantsRequestBuilder(flagId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("findVariants", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<List<Variant>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        List<Variant> responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<Variant>>() {});
        

        return new ApiResponse<List<Variant>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder findVariantsRequestBuilder(@jakarta.annotation.Nonnull Long flagId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling findVariants");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/variants"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update variant
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param variantId Numeric ID of the variant (required)
   * @param putVariantRequest  (required)
   * @return Variant
   * @throws ApiException if fails to make API call
   */
  public Variant putVariant(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long variantId, @jakarta.annotation.Nonnull PutVariantRequest putVariantRequest) throws ApiException {
    return putVariant(flagId, variantId, putVariantRequest, null);
  }

  /**
   * Update variant
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param variantId Numeric ID of the variant (required)
   * @param putVariantRequest  (required)
   * @param headers Optional headers to include in the request
   * @return Variant
   * @throws ApiException if fails to make API call
   */
  public Variant putVariant(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long variantId, @jakarta.annotation.Nonnull PutVariantRequest putVariantRequest, Map<String, String> headers) throws ApiException {
    ApiResponse<Variant> localVarResponse = putVariantWithHttpInfo(flagId, variantId, putVariantRequest, headers);
    return localVarResponse.getData();
  }

  /**
   * Update variant
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param variantId Numeric ID of the variant (required)
   * @param putVariantRequest  (required)
   * @return ApiResponse&lt;Variant&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Variant> putVariantWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long variantId, @jakarta.annotation.Nonnull PutVariantRequest putVariantRequest) throws ApiException {
    return putVariantWithHttpInfo(flagId, variantId, putVariantRequest, null);
  }

  /**
   * Update variant
   * 
   * @param flagId Numeric ID of the flag (required)
   * @param variantId Numeric ID of the variant (required)
   * @param putVariantRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Variant&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Variant> putVariantWithHttpInfo(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long variantId, @jakarta.annotation.Nonnull PutVariantRequest putVariantRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = putVariantRequestBuilder(flagId, variantId, putVariantRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("putVariant", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<Variant>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        Variant responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Variant>() {});
        

        return new ApiResponse<Variant>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder putVariantRequestBuilder(@jakarta.annotation.Nonnull Long flagId, @jakarta.annotation.Nonnull Long variantId, @jakarta.annotation.Nonnull PutVariantRequest putVariantRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'flagId' is set
    if (flagId == null) {
      throw new ApiException(400, "Missing the required parameter 'flagId' when calling putVariant");
    }
    // verify the required parameter 'variantId' is set
    if (variantId == null) {
      throw new ApiException(400, "Missing the required parameter 'variantId' when calling putVariant");
    }
    // verify the required parameter 'putVariantRequest' is set
    if (putVariantRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'putVariantRequest' when calling putVariant");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/flags/{flagId}/variants/{variantId}"
        .replace("{flagId}", ApiClient.urlEncode(flagId.toString()))
        .replace("{variantId}", ApiClient.urlEncode(variantId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(putVariantRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
