/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.flagent.client.apis

import com.flagent.client.models.Distribution
import com.flagent.client.models.Error
import com.flagent.client.models.PutDistributionsRequest

import com.flagent.client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class DistributionApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /flags/{flagId}/segments/{segmentId}/distributions
        * Get distributions for segment
        * 
         * @param flagId Numeric ID of the flag 
         * @param segmentId Numeric ID of the segment 
         * @return kotlin.collections.List<Distribution>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun findDistributions(flagId: kotlin.Long, segmentId: kotlin.Long): HttpResponse<kotlin.collections.List<Distribution>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/flags/{flagId}/segments/{segmentId}/distributions".replace("{" + "flagId" + "}", "$flagId").replace("{" + "segmentId" + "}", "$segmentId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /flags/{flagId}/segments/{segmentId}/distributions
        * Update distributions
        * Replace the distribution with the new setting. The sum of all percentages must equal 100.
         * @param flagId Numeric ID of the flag 
         * @param segmentId Numeric ID of the segment 
         * @param putDistributionsRequest  
         * @return kotlin.collections.List<Distribution>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun putDistributions(flagId: kotlin.Long, segmentId: kotlin.Long, putDistributionsRequest: PutDistributionsRequest): HttpResponse<kotlin.collections.List<Distribution>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = putDistributionsRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/flags/{flagId}/segments/{segmentId}/distributions".replace("{" + "flagId" + "}", "$flagId").replace("{" + "segmentId" + "}", "$segmentId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
