/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.flagent.client.apis

import com.flagent.client.models.Error
import com.flagent.client.models.EvalContext
import com.flagent.client.models.EvalResult
import com.flagent.client.models.EvaluationBatchRequest
import com.flagent.client.models.EvaluationBatchResponse

import com.flagent.client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class EvaluationApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /evaluation
        * Evaluate flag
        * 
         * @param evalContext  
         * @return EvalResult
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun postEvaluation(evalContext: EvalContext): HttpResponse<EvalResult> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = evalContext

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/evaluation",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /evaluation/batch
        * Batch evaluate flags
        * Evaluate multiple flags for multiple entities in a single request. More efficient than multiple single evaluation requests.
         * @param evaluationBatchRequest  
         * @return EvaluationBatchResponse
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun postEvaluationBatch(evaluationBatchRequest: EvaluationBatchRequest): HttpResponse<EvaluationBatchResponse> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = evaluationBatchRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/evaluation/batch",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
