/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.flagent.client.apis

import com.flagent.client.models.Error

import com.flagent.client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class ExportApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /export/eval_cache/json
        * Export eval cache as JSON
        * Export JSON format of the eval cache dump. This endpoint exports the current state of the evaluation cache in JSON format.
         * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun getExportEvalCacheJSON(): HttpResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/export/eval_cache/json",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /export/sqlite
        * Export database as SQLite
        * Export sqlite3 format of the db dump, which is converted from the main database. Returns a SQLite database file that can be used for backup or migration purposes.
         * @param excludeSnapshots Export without snapshots data - useful for smaller db without snapshots (optional, default to false)
         * @return java.io.File
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun getExportSQLite(excludeSnapshots: kotlin.Boolean?): HttpResponse<java.io.File> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            excludeSnapshots?.apply { localVariableQuery["exclude_snapshots"] = listOf("$excludeSnapshots") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/export/sqlite",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
