/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.flagent.client.apis

import com.flagent.client.models.CreateFlagRequest
import com.flagent.client.models.Error
import com.flagent.client.models.Flag
import com.flagent.client.models.FlagSnapshot
import com.flagent.client.models.PutFlagRequest
import com.flagent.client.models.SetFlagEnabledRequest

import com.flagent.client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class FlagApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /flags
        * Create a new flag
        * 
         * @param createFlagRequest  
         * @return Flag
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun createFlag(createFlagRequest: CreateFlagRequest): HttpResponse<Flag> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = createFlagRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/flags",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /flags/{flagId}
        * Delete flag
        * 
         * @param flagId Numeric ID of the flag 
         * @return void
        */
        open suspend fun deleteFlag(flagId: kotlin.Long): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/flags/{flagId}".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /flags
        * Get all flags
        * 
         * @param limit The numbers of flags to return (optional)
         * @param offset Return flags given the offset, it should usually set together with limit (optional, default to 0L)
         * @param enabled Return flags having given enabled status (optional)
         * @param description Filter flags by exact description match (optional)
         * @param key Filter flags by exact key match (optional)
         * @param descriptionLike Filter flags by partial description match (optional)
         * @param preload Preload segments, variants, and tags (optional, default to false)
         * @param deleted Include deleted flags in results (optional, default to false)
         * @param tags Filter flags by tags (comma-separated) (optional)
         * @return kotlin.collections.List<Flag>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun findFlags(limit: kotlin.Long?, offset: kotlin.Long?, enabled: kotlin.Boolean?, description: kotlin.String?, key: kotlin.String?, descriptionLike: kotlin.String?, preload: kotlin.Boolean?, deleted: kotlin.Boolean?, tags: kotlin.String?): HttpResponse<kotlin.collections.List<Flag>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
            offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
            enabled?.apply { localVariableQuery["enabled"] = listOf("$enabled") }
            description?.apply { localVariableQuery["description"] = listOf("$description") }
            key?.apply { localVariableQuery["key"] = listOf("$key") }
            descriptionLike?.apply { localVariableQuery["descriptionLike"] = listOf("$descriptionLike") }
            preload?.apply { localVariableQuery["preload"] = listOf("$preload") }
            deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
            tags?.apply { localVariableQuery["tags"] = listOf("$tags") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/flags",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /flags/{flagId}
        * Get flag by ID
        * 
         * @param flagId Numeric ID of the flag 
         * @return Flag
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun getFlag(flagId: kotlin.Long): HttpResponse<Flag> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/flags/{flagId}".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /flags/entity_types
        * Get all entity types
        * 
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun getFlagEntityTypes(): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/flags/entity_types",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /flags/{flagId}/snapshots
        * Get flag snapshots
        * 
         * @param flagId Numeric ID of the flag 
         * @param limit The number of snapshots to return (optional)
         * @param offset Return snapshots given the offset (optional, default to 0L)
         * @param sort Sort order (optional)
         * @return kotlin.collections.List<FlagSnapshot>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun getFlagSnapshots(flagId: kotlin.Long, limit: kotlin.Long?, offset: kotlin.Long?, sort: kotlin.String?): HttpResponse<kotlin.collections.List<FlagSnapshot>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
            offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
            sort?.apply { localVariableQuery["sort"] = listOf("$sort") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/flags/{flagId}/snapshots".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /flags/{flagId}
        * Update flag
        * 
         * @param flagId Numeric ID of the flag 
         * @param putFlagRequest  
         * @return Flag
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun putFlag(flagId: kotlin.Long, putFlagRequest: PutFlagRequest): HttpResponse<Flag> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = putFlagRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/flags/{flagId}".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /flags/{flagId}/restore
        * Restore deleted flag
        * 
         * @param flagId Numeric ID of the flag 
         * @return Flag
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun restoreFlag(flagId: kotlin.Long): HttpResponse<Flag> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/flags/{flagId}/restore".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /flags/{flagId}/enabled
        * Set flag enabled status
        * 
         * @param flagId Numeric ID of the flag 
         * @param setFlagEnabledRequest  
         * @return Flag
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun setFlagEnabled(flagId: kotlin.Long, setFlagEnabledRequest: SetFlagEnabledRequest): HttpResponse<Flag> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = setFlagEnabledRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/flags/{flagId}/enabled".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
