/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.flagent.client.apis

import com.flagent.client.models.CreateTagRequest
import com.flagent.client.models.Error
import com.flagent.client.models.Tag

import com.flagent.client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class TagApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /flags/{flagId}/tags
        * Create tag and associate with flag
        * Create a tag and associate it with the flag. Tags are used for organizing and filtering flags.
         * @param flagId Numeric ID of the flag 
         * @param createTagRequest  
         * @return Tag
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun createFlagTag(flagId: kotlin.Long, createTagRequest: CreateTagRequest): HttpResponse<Tag> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = createTagRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/flags/{flagId}/tags".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /flags/{flagId}/tags/{tagId}
        * Remove tag from flag
        * 
         * @param flagId Numeric ID of the flag 
         * @param tagId Numeric ID of the tag 
         * @return void
        */
        open suspend fun deleteFlagTag(flagId: kotlin.Long, tagId: kotlin.Long): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/flags/{flagId}/tags/{tagId}".replace("{" + "flagId" + "}", "$flagId").replace("{" + "tagId" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tags
        * Get all tags
        * 
         * @param limit The numbers of tags to return (optional)
         * @param offset Return tags given the offset (optional, default to 0L)
         * @param valueLike Return tags partially matching given value (optional)
         * @return kotlin.collections.List<Tag>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun findAllTags(limit: kotlin.Long?, offset: kotlin.Long?, valueLike: kotlin.String?): HttpResponse<kotlin.collections.List<Tag>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
            offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
            valueLike?.apply { localVariableQuery["value_like"] = listOf("$valueLike") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tags",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /flags/{flagId}/tags
        * Get tags for flag
        * 
         * @param flagId Numeric ID of the flag 
         * @return kotlin.collections.List<Tag>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun findFlagTags(flagId: kotlin.Long): HttpResponse<kotlin.collections.List<Tag>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/flags/{flagId}/tags".replace("{" + "flagId" + "}", "$flagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
